services:
  postgres:
    image: postgres:16
    container_name: tbank_postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: tbank_payments
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d tbank_payments"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7
    container_name: tbank_redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  api:
    build: .
    container_name: tbank_api
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    container_name: tbank_migrate
    working_dir: /app
    volumes:
      - ./:/app
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    command: ["tail", "-f", "/dev/null"]


volumes:
  pgdata:
